form {
  border-right: 1px solid lightgray;
  padding-right: 2em;
}

#summaryButtons {
  button {
    margin-right: 2em;
  }
}

.callout {
  ul {
    border-top: 1px solid lightgray;
    padding-top: 1em;
  }
}